<nav class="navbar navbar-dark bg-dark">
	<div class="container-fluid">
	  <a class="navbar-brand" href="#">Cartoon Characters- Vishva Shah</a>
	</div>
</nav>

<div class="container my-3">
	<span [innerHTML]="this.content.getOutput(0)"></span>
	<span [innerHTML]="this.content.getOutput(1)"></span>
	<span [innerHTML]="this.content.getOutput(2)"></span>
	<span [innerHTML]="this.content.getOutput(3)"></span>

	<!-- intentionally try to access undefined data - to display error message. -->
	<span [innerHTML]="this.content.getOutput(4)"></span>
</div>