<h2 class="title">Cartoons</h2>
<!--<div>
    <app-content-card *ngFor="let item of cartooncharacters; index as i; first as isFirst; odd as odd; even as even;" [cartoon]="item"
      class="cartoon-{{i+1}}" [class.is-odd]="odd" [class.is-even]="even">
    </app-content-card>  
</div>-->

<!--Assignment 3-->

<!-- <input type="text" [(ngModel)] = "inputvalue" />
<button (click)="clickEvent(inputvalue)">Click me!</button>
<div class="aut" id="aut"></div>  -->
<!-- <div><label>
  Author name search:
  <input autofocus #authorToSearchFor>
</label>
<button (click)="checkForAuthorInList(authorToSearchFor.value)">Check for Author</button>
</div>
<div class="author-error" [style]="authorSearchMessage.found ? 'color: blue' : 'color: grey'">
{{ authorSearchMessage.message }}
</div> -->


<h2 class="heading">Comedy</h2>
<div *ngFor="let item of (cartooncharacters | cartoons); index as i; first as isFirst; odd as odd; even as even;">
  <app-content-card *ngIf="item.type=='Comedy'" [cartoon]="item" 
  class="chess-player-{{i}}" class="CartoonComedy">
</app-content-card>
</div>

<h2 class="heading">Child</h2>
<div *ngFor="let item of (cartooncharacters | cartoons); index as i; first as isFirst; odd as odd; even as even;">
  <app-content-card *ngIf="item.type=='Child'" [cartoon]="item" 
  class="chess-player-{{i}}" class="CartoonChild">
</app-content-card>
</div>

<h2 class="heading">Blank data</h2>
<div *ngFor="let item of (cartooncharacters | cartoons); index as i; first as isFirst; odd as odd; even as even;">
  <app-content-card *ngIf="item.type==''" [cartoon]="item" 
  class="chess-player-{{i}}" class="CartoonBlank">
</app-content-card>
</div>

