.heading {
    text-align: center;
    background-color: black;
    color: white;
}

:host {
    .CartoonComedy {
        background-color: #00203F;
        color: #b4d8c9;
    }
    .CartoonChild {
        background-color: #d3687f;
        color: black;
    }
    .CartoonBlank {
        background-color: #FAD0C9;
        color: #6E6E6D;
    }

    mat-form-field, input {
		width: 50%;
	}
    }